[core]
        excludesfile = ~/.gitignore

[user]
	name = Munieru
	email = 20086673+munierujp@users.noreply.github.com

[alias]
	alias =  !git config --list | grep '^alias\\.'
	cb = checkout
	close = !CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD) && git checkout master && git pull && git branch -D ${CURRENT_BRANCH}
        commit-empty = commit --allow-empty 
	cp = !cp $1 $2 && git add $2
	hub-clone = !URL=$1 && DIR="@$(sh $HOME/bin/parse-github-url-to-user-name.sh $URL)" && cd $WORKSPACE && mkdir -p $DIR && cd $DIR && git clone $URL && :
	new = "!f () { git pull && git checkout -b $1;};f"
	pull-upstream = !CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD) && git pull upstream ${CURRENT_BRANCH}
	push-new = !CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD) && git push --set-upstream origin ${CURRENT_BRANCH}
	revert-to = !REVISION="HEAD~$1" && git revert $REVISION && :
	set-upstream = remote add upstream
        sync = !git pull-upstream && git push
