# macOS
# see https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
.DS_Store

# direnv
# see https://github.com/direnv/direnv
.envrc

# Visual Studio Code
# see https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
*.code-workspace

# Code Cover
# see https://marketplace.visualstudio.com/items?itemName=bradleymeck.codecover
coverageconfig.json
