# macOS
# see https://github.com/github/gitignore/blob/33243d9491911332228307c915ff95707791a91f/Global/macOS.gitignore#L2
.DS_Store

# direnv
# see https://github.com/direnv/direnv
.envrc

# Visual Studio Code
# see https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
*.code-workspace

# Code Cover
# see https://marketplace.visualstudio.com/items?itemName=bradleymeck.codecover
coverageconfig.json

# VS Code Counter
# see https://marketplace.visualstudio.com/items?itemName=uctakeoff.vscode-counter
.VSCodeCounter

TODO.md
NOTE.md
