[core]
        excludesfile = ~/.gitignore

[user]
	name = Munieru
	email = 20086673+munierujp@users.noreply.github.com

[alias]
	# show alias list
	alias =  !git config --list | grep '^alias\\.'
	# clone repository from GitHub to `$WORKSPACE/@<user>/<repo>` directory (e.g. $WORKSPACE/@munierujp/.gitconfig)
	clone-hub = !URL=$1 && DIR="@$(sh $HOME/bin/parse-github-url-to-user-name.sh $URL)" && cd $WORKSPACE && mkdir -p $DIR && cd $DIR && git clone $URL && :
	# switch to default branch => pull => remove old branch
	close = !CURRENT_BRANCH=$(git current-branch) && DEFAULT_BRANCH=$(git default-branch) && git checkout ${DEFAULT_BRANCH} && git pull && git branch -D ${CURRENT_BRANCH}
	# commit empty commit
        commit-empty = commit --allow-empty 
	# copy file => add to index
	cp = !cp $1 $2 && git add $2
	# show current branch
	current-branch = rev-parse --abbrev-ref HEAD
	# show default branch
	default-branch = !git symbolic-ref refs/remotes/origin/HEAD | awk -F '[/]' '{print $NF}'
	# pull => create new branch
	new = "!f () { git pull && git checkout -b $1;};f"
	# push with creating new branch to remote
	publish = !CURRENT_BRANCH=$(git current-branch) && git push --set-upstream origin ${CURRENT_BRANCH}
	# pull from `upstream` repository
	pull-upstream = !CURRENT_BRANCH=$(git current-branch) && git pull upstream ${CURRENT_BRANCH}
	# push with --force-with-lease option
	push-force = push --force-with-lease
	# set `upstream` repository
	set-upstream = remote add upstream
	# pull from `upstream` repository => push
        sync = !git pull-upstream && git push
